    <div>
      <p>Alejandro Granja García</p>
      <div>
      <img src="../public/images/alejandro.jpg" />
      </div>
      <p>Javier Diez Martínez</p>
      <img src="../public/images/javier.JPG" />
    </div>
