    <div>
      <div style="width: 50%; float:left;">
        <p>Alejandro Granja García</p>
        <img src="images/alejandro.jpg" style="height: 300px;"/>
      </div>
      <div style="width: 50%; float:left;">
        <p>Javier Diez Martínez</p>
        <img src="images/javier.JPG" style="height: 300px;"/>
      </div>
    </div>
